config/ssh/config.d/*
!config/ssh/config.d/*.gpg
logs/*

# Don't include secrets in the repository but do include encrypted secrets
!secrets/**/*.gpg
secrets/**/*.*

# SHA256 hashes of the encrypted secrets
*.sha256