config/ssh/config.d/*
!config/ssh/config.d/*.gpg
logs/*

# Don't include secrets in the repository but do include encrypted secrets
secrets/wp/*.*
!secrets/wp/*.gpg
secrets/ssh_config/*.*
!secrets/ssh_config/*.gpg
secrets/*.*
!secrets/*.gpg
**/*.keys

# SHA256 hashes of the encrypted secrets
*.sha256